#mylock {
    width: 100%;
    background-color: rgb(241, 231, 231);
    opacity: 0.97;  
    position: fixed;  
  }
  
  img:hover{
    transform: scale(1.8);
  }

  img{
    transition: transform 0.8s ease;
  }

  #nav-item{
    color: rgb(71, 70, 70);
    padding-right: 60px;
  }

  #nav-item:hover{
    color: black;
  }

  #mysearch:hover{
    background-color: rgb(183, 168, 187);
    color: black;
  
  }

  #mysearch{
    -webkit-transition-duration:0.7s;
    transition-duration: 0.7s;
  }