<div class="BG">
    <div class="col-sm-7 colm">
        <div>
            <h1 class="font-weight-lighter ">Our Story</h1>
            <hr>
            <h4 class="font-weight-light">Digikala is one of the Iranian startups that benefit from the country's increasing digitization. By 2017, 62% of Iran's households have been connected to the Internet and this development is driving demand for Internet services that mirror
                Western digital platforms such as Amazon. Digikala is ranked by Alexa as Iran's 3rd most visited website. It is also the largest e-commerce platform in the Middle East. It has 1,700,000 unique visitors per day, and 85% of Iran's ecommerce
                now takes place on Digikala. The company does not publicise its revenue but has said sales are growing at a rate of 200% a year, and that it is receiving orders from even the most remote villages in Iran. Hamid Mohammadi said the main
                focus of the company remains expansion "even if that means we will not be profitable, which is how Amazon is operatingвЂќ. Iran's economic volatility has forced Digikala to layoff 175 workers in 2018. To survive, it adopted several initiatives
                such as the pay-per-sale strategy which allow users - as affiliates - to receive commission if a directed customer purchased a product.On March 2019, Digikala also addressed the issue authenticity of products in the platform after receiving
                complaints over the quality of goods being sold. In a statement, it stated that only 0.2% of the 1.2 million products are unoriginal and that the company has taken steps to implement stringent quality control.</h4>
        </div>
        <br>
        <div class="card-body border-0 shadow my-5 text-left col-md-12">
            <h2>Contact Us</h2>
        </div>
        <div class="card-body border-0 shadow my-5 text-left col-md-12">
                <form>
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" placeholder="Your name..">
              
                  <label for="email">Email</label>
                  <input type="text" id="email" name="email" placeholder="Your Email..">

                  <label for="comment">Comment</label>
                  <textarea id="comment" placeholder="Please type your Comment ..."></textarea>

                  <input type="submit" value="Submit">
                </form>
        </div>
    </div>
</div>


<!-- <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign In">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                </div>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Username</label>
                        <input id="user" type="text" class="input">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Email Address</label>
                        <input id="pass" type="text" class="input">
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Sign Up">
                    </div>
                    
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</label>
                    </div>
                </div>
            </div>
        </div>
    </div> -->