<header>
  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-indigo-slight flex-center">
        <div class="container">
          <div class="white-text text-center wow fadeInUp text">
            <h2>Category List</h2>
            <br>
            <p>The process of abstraction required to discover the number 
                and names of the categories has been undertaken by many 
                philosophers since Aristotle and involves the careful inspection
                 of each concept to ensure that there is no higher category or 
                 categories under which that concept could be subsumed. 
                 The scholars of the twelfth and thirteenth centuries developed 
                 Aristotle's ideas, firstly, for example by Gilbert of Poitiers,
                dividing Aristotle's ten categories into two sets, primary and secondary,
                 according to whether they inhere in the subject or not</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<br>
<br>
<hr>
