<div class="backgroundcolor"> 
    <div class="flex-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/digitalPro.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img src="assets/chevron.png" id="dropdownimg"></a>
                    </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/digitalPro.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img src="assets/chevron.png" id="dropdownimg"></a>
                    </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/digitalPro.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img src="assets/chevron.png" id="dropdownimg"></a>
                    </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/digitalPro.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a>
                            <img src="assets/chevron.png" id="dropdownimg">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <img src="assets/categories.jpg" id="background"> -->