<app-cat-header></app-cat-header>
<div class="backgroundcolor"> 
    <div class="flex-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/digitalPro.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img src="assets/chevron.png" id="dropdownimg" class="top"></a>
                    </div>
                    <div>
                        <p id="text">Digital Product</p>
                    </div>
                    <div>
                        <p id="caption">
                            Digital goods or e-goods are intangible goods that
                            exist in digital form. Examples include this Wikipedia article;
                            digital media, such as e-books, downloadable music, internet radio, 
                            internet television ...
                        </p>
                    </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/furnuture.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img src="assets/chevron.png" id="dropdownimg" class="top"></a>
                    </div>
                    <div>
                        <p id="text">Furniture</p>
                    </div>
                    <div>
                        <p id="caption">
                                Furniture refers to movable objects intended to 
                                support various human activities such as seating 
                                (e.g., chairs, stools, and sofas), eating (tables), and sleeping
                                 (e.g., beds). Furniture is also used to hold objects at a convenien
                                 t height for work (as horizontal surfaces above the ground...
                        </p>
                    </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/groceries.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img  class="top" src="assets/chevron.png" id="dropdownimg"></a>
                    </div>
                    <div>
                        <p id="text">Grocery</p>
                    </div>
                        <div>
                            <p id="caption">
                                Grocery stores also offer non-perishable foods that
                                are packaged in bottles, boxes, and cans; some also have
                                bakeries, butchers, delis, and fresh produce. 
                                Large grocery stores that stock significant amounts of non-food
                                products, such as clothing and household items, are called supermarkets.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/clothes.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img src="assets/chevron.png" id="dropdownimg"></a>
                   </div>
                   <div>
                    <p id="text">clothes</p>
                </div>
                <div>
                    <p id="caption">
                        Clothing (also known as clothes, apparel and attire) is a collective
                        term for items worn on the body. Clothing is typically made of fabrics
                        or textiles but over time has included garments made from animal skin
                        or other thin sheets of materials put together. 
                    </p>
                </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/digitalPro.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img src="assets/chevron.png" id="dropdownimg" class="top"></a>
                    </div>
                    <div>
                        <p id="text">Digital Product</p>
                    </div>
                    <div>
                        <p id="caption">
                            Digital goods or e-goods are intangible goods that
                            exist in digital form. Examples include this Wikipedia article;
                            digital media, such as e-books, downloadable music, internet radio, 
                            internet television ...
                        </p>
                    </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/furnuture.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img src="assets/chevron.png" id="dropdownimg" class="top"></a>
                    </div>
                    <div>
                        <p id="text">Furniture</p>
                    </div>
                    <div>
                        <p id="caption">
                                Furniture refers to movable objects intended to 
                                support various human activities such as seating 
                                (e.g., chairs, stools, and sofas), eating (tables), and sleeping
                                 (e.g., beds). Furniture is also used to hold objects at a convenien
                                 t height for work (as horizontal surfaces above the ground...
                        </p>
                    </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/groceries.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img  class="top" src="assets/chevron.png" id="dropdownimg"></a>
                    </div>
                    <div>
                        <p id="text">Grocery</p>
                    </div>
                        <div>
                            <p id="caption">
                                Grocery stores also offer non-perishable foods that
                                are packaged in bottles, boxes, and cans; some also have
                                bakeries, butchers, delis, and fresh produce. 
                                Large grocery stores that stock significant amounts of non-food
                                products, such as clothing and household items, are called supermarkets.
                        </p>
                    </div>
                </div>
                <div class="col-md-3 cat-item">
                    <div id="imgdiv">   
                        <img src="assets/clothes.jpg" id="categoryImg">
                    </div>
                    <div class="text-right">
                        <a><img src="assets/chevron.png" id="dropdownimg"></a>
                   </div>
                   <div>
                    <p id="text">clothes</p>
                </div>
                <div>
                    <p id="caption">
                        Clothing (also known as clothes, apparel and attire) is a collective
                        term for items worn on the body. Clothing is typically made of fabrics
                        or textiles but over time has included garments made from animal skin
                        or other thin sheets of materials put together. 
                    </p>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <img src="assets/categories.jpg" id="background"> -->