.intro-2 {
    background: url("https://images.unsplash.com/photo-1556742111-a301076d9d18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80") no-repeat center center;
    background-size: cover;
    height: 400px;
    
}

h2{
    padding-top: 100px;
}

h5{
    padding-top: 5px;
    padding-bottom: 25px;
}

.button-build{
    background-color: rgb(192, 187, 187);
    color: black;
    border: 2px solid #555555;
}

.button-build:hover{
    background-color: #555555;
    color: white;
}

.button{
    opacity: 0.76;
    padding : 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.5s;
    cursor: pointer;
}
